<mat-grid-list cols="4" rowHeight="200px" gutterSize="30px">
    <mat-grid-tile>
      <mat-card style="width: 300px; height: 150px;">
        <img src="../assets/MicrosoftTeams-image (4).png" style="width: 100px; position: absolute; bottom:100px;">
        <mat-card-content style="text-align: right;">
          <p>Used Space</p>
         <P><h2>49/50GB</h2>
          <mat-divider></mat-divider>
          <p style='text-align: left;color:#333'><img src="../assets/warning.png" style="width: 30px; height: 30px;">Get More Space</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    
    <mat-grid-tile>
      <mat-card style="width: 300px; height: 150px;">
        <img src="../assets/money-growth.png" style="width: 80px; position: absolute; bottom:100px;">
        <mat-card-content style="text-align: right;">
          <p>Revenue</p>
         <P><h2>$34,245</h2>
          <mat-divider></mat-divider>
          <p style='text-align:left;color:#333'><img src="../assets/wall-clock.png" style="width: 20px; height: 20px;">Last 24 Hours</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card style="width: 300px; height: 150px;">
        <img src="../assets/info-button.png" style="width: 70px; position: absolute; bottom:100px;">
        <mat-card-content style="text-align: right;">
          <p>Fixed Issues</p>
         <P><h2>75</h2>
          <mat-divider></mat-divider>
          <p style='text-align: left;margin-bottom: 40px; color: #333;'>
            <img src="../assets/label.png" style="width: 20px; height: 20px;">Tracked From Github</p>
        </mat-card-content>
 >     </mat-card>
     </mat-grid-tile>
    <mat-grid-tile>
      <mat-card style="width: 300px; height: 150px;">
        <img src="../assets/MicrosoftTeams-image.png" style="width: 100px; position: absolute; bottom:100px;">
        <mat-card-content style="text-align: right;">
          <p>Followers</p>
         <P><h2>+245</h2>
          <mat-divider></mat-divider>
          <p style='text-align:left;color:#333'><img src="../assets/plan.png" style="width: 20px; height: 20px;">Just Updated
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  <!--ul class="box-info">
    <li>
      <i class='bx bxs-copy' ></i>
      <span class="text">
        <h1>49/50  GB</h1>
        <p>Used Space</p>
        <p [align]=""><i class="bx bxs-alarm-exclamation"color=""></i>Get More Space</p>
      </span>
    </li>
    <li>
      <i class='bx bxs-group' ></i>
      <span class="text">
        <h3>2834</h3>
        <p>Visitors</p>
      </span>
    </li>
    <li>
      <i class='bx bxs-info-square' color="red" ></i>
      <span class="text">
        <h3>$2543</h3>
        <p>Total Sales</p>
      </span>
    </li>
    <li>
      <i class='bx bxs-copy' ></i>
      <span class="text">
        <h3>49/50  GB</h3>
        <p>followers</p>
        <p [align]=""><i class="bx bxs-alarm-exclamation"color=""></i>Get More Space</p>
      </span>
    </li>
  </ul-->
  <!--div class="table-data">
    <div class="order">
      <div class="head">
        <h3>Recent Orders</h3>
        <i class='bx bx-search' ></i>
        <i class='bx bx-filter' ></i>
      </div>
      <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Date Order</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
              <p>John Doe</p>
            </td>
            <td>01-10-2023</td>
            <td><span class="status completed">Completed</span></td>
          </tr>
          <tr>
            <td>
              <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
              <p>John Doe</p>
            </td>
            <td>01-10-2023</td>
            <td><span class="status pending">Pending</span></td>
          </tr>
          <tr>
            <td>
              <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
              <p>John Doe</p>
            </td>
            <td>01-10-2023</td>
            <td><span class="status process">Process</span></td>
          </tr>
          <tr>
            <td>
              <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
              <p>John Doe</p>
            </td>
            <td>01-10-2023</td>
            <td><span class="status pending">Pending</span></td>
          </tr>
          <tr>
            <td>
              <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
              <p>John Doe</p>
            </td>
            <td>01-10-2023</td>
            <td><span class="status completed">Completed</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="todo">
      <div class="head">
        <h3>Todos</h3>
        <i class='bx bx-plus' ></i>
        <i class='bx bx-filter' ></i>
      </div>
      <ul class="todo-list">
        <li class="completed">
          <p>Todo List</p>
          <i class='bx bx-dots-vertical-rounded' ></i>
        </li>
        <li class="completed">
          <p>Todo List</p>
          <i class='bx bx-dots-vertical-rounded' ></i>
        </li>
        <li class="not-completed">
          <p>Todo List</p>
          <i class='bx bx-dots-vertical-rounded' ></i>
        </li>
        <li class="completed">
          <p>Todo List</p>
          <i class='bx bx-dots-vertical-rounded' ></i>
        </li>
        <li class="not-completed">
          <p>Todo List</p>
          <i class='bx bx-dots-vertical-rounded' ></i>
        </li>
      </ul>
    </div>
  </div>
</main>
<MAIN -->
<!-- CONTENT -->
</mat-grid-list>
<mat-grid-list cols="3" gutterSize="10px">
<mat-grid-tile>
  <mat-card style="width: 300px; height: 150px;">
    <img src="../assets/greengraph.jpg" style="width:500px; height: 200px;">
    <h2>Daily Sales</h2>
    <h5>35% Increase in today sales</h5>
    <mat-card-content style="text-align: right;">
     </mat-card-content>
     </mat-card>
     </mat-grid-tile>
     <mat-grid-tile>
      <mat-card style="width: 300px; height: 150px;">
        <img src="../assets/Red Yellow Circles Trivia Day Presentation.jpg" style="width:500px; height: 200px;">
        <h2>Email Subscription</h2>
        <h5>Last Camping Performances</h5>
        <mat-card-content style="text-align: right;">
          <!--mat-divider></mat-divider>
          <p><img src="../assets/wall-clock.png"style="width:10px;height:10px"updated 4min ago></p-->
         </mat-card-content>
         </mat-card>
         </mat-grid-tile>
         <mat-grid-tile>
          <mat-card style="width: 300px; height: 150px;">
            <img src="../assets/red graph 2.jpg" style="width:500px; height: 200px;">
            <h2>Completed Task</h2>
            <h5>Last Camping Performance</h5>
            <mat-card-content style="text-align: right;">
             </mat-card-content>
             </mat-card>
             </mat-grid-tile>
             
     